<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convert Currency</title>
    <style>
        input[type=text], select {
            width: 40%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 20%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        div {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
        }
</style>
</head>
<body>
<center>
<h1>Convert Currency</h1>
    <ul>
        <li><a href="/">Create Currencies</a> |</li>
        <li><a href="/web/currency/list">List Currencies</a> |</li>
        <li><a href="/web/currency/rate/read">Create Conversion Rate</a> |</li>
        <li><a href="/web/currency/rate/list">List Conversion Rate</a> |</li>
        <li><a href="/web/currency/convert/read">Convert Currency</a> </li>
    </ul>
</center>
<br>
<center>
    <form method="post" action="/web/currency/convert/process">
        <select name="currency_id_from">
            {{range .Data}}
            <option value="{{.ID}}">  {{.ID}} - {{.Name}}</option>
            {{end}}
        </select><br>
        <select name="currency_id_to">
            {{range .Data}}
            <option value="{{.ID}}">  {{.ID}} - {{.Name}}</option>
            {{end}}
        </select><br>
        <input type="text" name="amount" placeholder="Input amount" pattern="[0-9]+" title="input number only" required>&nbsp;<span id="errmsg"></span><br>
        <input type="submit" center>
    </form>
</center>
</body>
</html>
