<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Currency</title>
    <style>
        input[type=text], select {
            width: 40%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 20%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        div {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
        }
</style>
</head>
<body>
<center>
    <h1>Create Currency</h1>
    <ul>
        <li><a href="/">Create Currencies</a> |</li>
        <li><a href="/web/currency/list">List Currencies</a> |</li>
        <li><a href="/web/currency/rate/read">Create Conversion Rate</a> |</li>
        <li><a href="/web/currency/rate/list">List Conversion Rate</a> |</li>
        <li><a href="/web/currency/convert/read">Convert Currency</a> </li>
    </ul>
</center>
<br>
<center>
    <form method="post" action="/web/currency/add">
        <input type="text" name="currency_id" placeholder="Input currency id" required><br>
        <input type="text" name="currency_name" placeholder="Input currency name" required><br>
        <input type="submit" center>
    </form>
</center>

</body>
</html>