<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Currency</title>
    <style>
        input[type=text], select {
            width: 40%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 20%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        div {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
        }
</style>
</head>
<body>

<h1>Create Currency</h1>
<ul>
  <li><a href="/web/currency/list">Currencies</a></li>
  <li><a href="#news">Add Conversion Rate</a></li>
  <li><a href="#contact">List Conversion Rate</a></li>
  <li><a href="#about">Convert Currency</a></li>
</ul>
<br>
<form method="post" action="/web/currency/create">
    <label for="fid">ID</label><br>
    <input type="text" name="currency_id" placeholder="currency id" value="1"><br>
    <label for="fname">Name</label><br>
    <input type="text" name="currency_name" placeholder="currency name" required><br>
    <input type="submit" style="margin-left:9%;">
</form>

</body>
</html>